<br><br>
<div class="flex flex-column w-full h-10rem">
  <div class="grid flex flex-row justify-content-evenly footer">
    <div class="flex w-25rem flex-column text-center">
      <div>
        <h3 style="color: rgb(206, 66, 66);" class="font-medium">Nossas mídias:</h3>
      </div>
      <div class="flex justify-content-evenly align-items-center">
        <i class="fa fa-linkedin-square icone"></i>
        <i class="fa fa-instagram icone"></i>
      </div>
    </div>
    <div class="w-25rem text-center duvida">
      <h3>Possui alguma dúvida e quer entrar em contato conosco?</h3>
      <a href="mailto:orcamento.efetiva@gmail.com.br" class="link-email">orcamento.efetiva@gmail.com.br</a><br><br>
      <button (click)="goToContato()" class="botao h-2rem w-8rem">Clique aqui</button>
    </div>
  </div>
  <br>
  <div class="text-center">
    <h3 class="font-medium">
      Todos os direitos reservados.
      <a style="color: rgb(206, 66, 66);">© 2022 EFETIVA SOLUÇÕES LTDA.</a>
    </h3>
  </div>
</div>
