<app-nav></app-nav>
<div class="grid flex justify-content-evenly flex-wrap mt-5">
  <div class="flex flex-grow-2 flex-column justify-content-center w-30rem h-26rem">
    <h1>Você chegou em algum lugar <a style="color: rgb(206, 66, 66);">muito longe da realidade!</a></h1>
    <p class="paragrafo">Volte ao menu inicial clicando >><a style="color: rgb(206, 66, 66);" class="cursor-pointer" (click)="goToHome()">aqui</a><<</p>
  </div>
  <div
    class="flex flex-grow-2 align-items-center justify-content-center w-25rem h-25rem"
  >
    <p-image
      src="https://cdn-icons-png.flaticon.com/512/580/580185.png"

      width="100%"
      class="imagem"
    ></p-image>
  </div>
</div>
