<app-nav></app-nav>
<div class="screen">
  <div class="sides">
    <div class="left">
      <div class="top">
        <h1>FAÇA UM ORÇAMENTO CONOSCO</h1>
      </div>
      <div class="mid">
        <p>O e-mail enviado deve seguir o seguinte padrão:</p>
        <br>
        - Um resumo sobre a ideia;
        <br>
        - Qual será a sua finalidade;
        <br>
        - O setor a ser utilizado.

        <br><br>
        Opcionais: *E-mail alternativo para resposta; *Identidade visual.

        <br />

        <h3>* O tempo estimado de retorno é de 48 horas *</h3>
      </div>
      <div class="bottom">
        <a href="mailto:orcamentos.efetiva@gmail.com" class="link-email"><button>Enviar um e-mail</button></a>
      </div>
    </div>
    <div class="right">
      <img src="https://i.imgur.com/TMpj3gO.png" alt="" />
    </div>
  </div>
</div>
<hr />
<app-footer></app-footer>
