<app-nav></app-nav>
<div
  class="grid bg-gray-100 flex justify-content-evenly h-full w-screen mt-5">
  <div class="w-25rem h-20rem flex flex-column align-items-center">
    <h3 style="color: rgb(206, 66, 66);" class="text-2xl">E-mail:</h3>
    <a href="mailto:contato@efetiva.com.br" class="link-email">contato@efetiva.com.br</a>
    <br/>
    <h3  style="color: rgb(206, 66, 66);">ou</h3><br>
    <button class="zap"><a href="https://api.whatsapp.com/send?phone=5547988030802&text=">Whatsapp</a></button>
    <button class="zap"><a href="https://api.whatsapp.com/send?phone=5547988030802">Whatsapp</a></button>
  </div>
  <div class="w-25rem h-20rem textos flex flex-column text-center align-items-center">
    <h2  style="color: rgb(206, 66, 66);">Dúvidas?</h2>
    <h3>
      Para um contato melhor, chame-nos nas redes sociais informadas ao lado.
    </h3>
    <h2  style="color: rgb(206, 66, 66);">Muito obrigado!</h2>
  </div>
</div>
