<app-nav></app-nav>
<div class="screen">
  <div class="sides">
    <div class="left">
      <div class="top">
        <h1>FAÇA UM ORÇAMENTO CONOSCO</h1>
        <p>O e-mail deve conter as seguintes informações:</p>
      </div>
      <div class="mid">
        <p>Um e-mail para contato para retorno de nossa parte.
          Um resumo sobre a ideia do projeto,
          para que ele será utilizado e em qual setor.
        </p>

        <br>

        <h3>* O tempo estimado de retorno é de 48 horas *</h3>
      </div>
      <div class="bottom">
        <button>Enviar</button>
      </div>
    </div>
    <div class="right">
      <img src="https://i.imgur.com/TMpj3gO.png" alt="">
    </div>
  </div>
</div>
<hr>
<app-footer></app-footer>
