<app-nav></app-nav>
<div class="grid flex flex-column mt-3 bg-gray-100">
  <div class="flex text-center flex-column">
    <h2 class="m-3">
      Possuímos tecnologias diversas além das mostradas abaixo, <br />
      porém essas são as principais delas.
    </h2>
  </div>
  <div class="grid flex justify-content-evenly flex-wrap mt-5 w-full h-full">
    <div class="card-cheio flex-column h-25rem w-25rem ml-8 mr-8 mt-3 mb-6">
      <div class="w-23rem h-12rem flex flex-row">
        <p-image
          width="100%"
          class="m-3 w-15rem h-15rem"
          src="https://ozitech.com.br/images/pricing/java.png"
        ></p-image>
        <h2
          style="color: #f29316"
          class="text-center flex align-items-center justify-content-center w-full h-9rem text-4xl text-left ml-2"
        >
          Ja<a class="text-cyan-600">va</a>
        </h2>
      </div>
      <hr />
      <div class="card">
        <p class="m-3">
          Uma das mais usadas linguagens de programação, Java é primordialmente
          usado para desenvolvimento back-end incluindo projetos de grande
          escala (big-data) e desenvolvimento Android. Java é geralmente usado
          para programação desktop, mobile e games.
        </p>
      </div>
    </div>
    <div class="card-cheio flex-column h-25rem w-25rem ml-8 mr-8 mt-3 mb-6">
      <div class="w-23rem h-12rem flex flex-row">
        <p-image
          width="100%"
          class="m-3 w-15rem h-15rem"
          src="https://upload.wikimedia.org/wikipedia/commons/thumb/c/cf/Angular_full_color_logo.svg/768px-Angular_full_color_logo.svg.png"
        ></p-image>
        <h2
          class="text-center flex align-items-center justify-content-center w-full h-7rem text-4xl text-left ml-2"
          style="color: rgb(206, 66, 66)"
        >
          Angular
        </h2>
      </div>
      <hr />
      <div class="card">
        <p class="m-3">
          O Angular é uma das nossas principais tecnologias, não só porque é o
          framework líder em desenvolvimento web nos dias de hoje, mas também
          sua presença nesse contexto. O fato de ser bem desenvolvido com uma
          biblioteca testada.
        </p>
      </div>
    </div>
    <div class="card-cheio flex-column h-25rem w-25rem ml-8 mr-8 mt-3">
      <div class="w-23rem h-12rem flex flex-row">
        <p-image
          width="100%"
          class="m-3 w-15rem h-15rem"
          src="https://d33wubrfki0l68.cloudfront.net/d6ddbc283825d5da2b1dcbba08094e70c2300217/5219f/images/posts/nodejs.png"
        ></p-image>
        <h2
          class="text-center text-green-700 flex align-items-center justify-content-center w-full h-7rem text-4xl text-left ml-2"
        >
          Node<a class="text-green-400">.js</a>
        </h2>
      </div>
      <hr />
      <div class="card">
        <p class="m-3">
          Node.js é primordialmente usado para non-blocking, é usado
          tradicionalmente para desenvolvimento web e APIs back-end.
        </p>
      </div>
    </div>
    <div class="card-cheio flex-column h-25rem w-25rem ml-8 mr-8 mt-3 mb-6">
      <div class="w-23rem h-12rem flex flex-row">
        <p-image
          width="100%"
          class="m-3 w-15rem h-15rem"
          src="https://ozitech.com.br/images/pricing/aws.png"
        ></p-image>
        <h2
          class="text-center flex align-items-center justify-content-center w-full h-7rem text-4xl text-left ml-2"
          style="color: #f29316"
        >
          AWS
        </h2>
      </div>
      <hr />
      <div class="card">
        <p class="m-3">
          A AWS (Amazon Web Services) é um serviço de computação em nuvem
          desenvolvido pela Amazon. Ela oferece mais de 200 serviços completos
          de data centers por todo o mundo. Com isso, acaba trazendo mais
          recursos do que outros provedores de nuvem, segundo a própria empresa.
        </p>
      </div>
    </div>
    <div class="card-cheio flex-column h-25rem w-25rem ml-8 mr-8 mt-3 mb-6">
      <div class="w-23rem h-12rem flex flex-row">
        <p-image
          width="100%"
          class="m-3 w-15rem h-15rem"
          src="https://blogs.vmware.com/cloudprovider/files/2019/04/og-image-8b3e4f7d-blog-aspect-ratio.png"
        ></p-image>
        <h2
          class="text-center flex align-items-center justify-content-center w-full h-7rem text-4xl text-left ml-2"
          style="color: #5F43E9;"
        >
          Terraform
        </h2>
      </div>
      <hr />
      <div class="card">
        <p class="m-3">
          Terraform é uma ferramenta de software de código aberto, infraestrutura como configuração. Os usuários definem e fornecem infraestrutura de data center usando JSON.
        </p>
      </div>
    </div>
    <div class="card-cheio flex-column h-25rem w-25rem ml-8 mr-8 mt-3 mb-6">
      <div class="w-23rem h-12rem flex flex-row">
        <p-image
          width="100%"
          class="m-3 w-15rem h-15rem"
          src="https://www.docker.com/wp-content/uploads/2022/03/Moby-logo.png"
        ></p-image>
        <h2
          class="text-center flex align-items-center justify-content-center w-full h-7rem text-4xl text-left ml-2"
          style="color: #2497ED;"
        >
          Docker
        </h2>
      </div>
      <hr />
      <div class="card">
        <p class="m-3">
          Docker é um conjunto de produtos de plataforma como serviço que usam virtualização de nível de sistema operacional para entregar software em pacotes chamados contêineres. Os contêineres são isolados uns dos outros e agrupam seus próprios softwares, bibliotecas e arquivos de configuração.
        </p>
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>
